.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__group-name test
      .main-header__left-box__member-list 
        Member：
        .main-header__left-box__member-list__name masa
    .main-header__edit-btn 
      =link_to "Edit","#",class:"edit-btn" 
  .messages 
    .message
      .message__info
        .message__info__member ryuichi
        .message__info__date 2020/02/11(Tue) 17:21:00
      .message__text おはよう
    .message
      .message__info
        .message__info__member ryuichi
        .message__info__date 2020/02/11(Tue) 17:21:00
      .message__text おはよう
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}
